@model PagedList.IPagedList<Asp.Net.Mvc.Operations.Crud.Ado.Models.Employee>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name" })
        </th>
        <th>
            @Html.ActionLink("Age", "Index", new { sortOrder = "Age" })
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new { sortOrder = "Gender" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Age
            </td>
            <td>
                @item.SelectedGender
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = @item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = @item.Id })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSortOrder }))
